/* TARGET */
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    position: relative;
}
  
.circle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

.circle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
}
/* END TARGET */
.a{
    border:3px solid green;
}
.footer {
    text-align: center;
    color: white;
}
.back-button{
    width: 18%;
    margin: 0 39% 0 39%;
    color: white;
    text-decoration: none;
    font-size: 170%;
    text-align: center;
    transform: translateX(0);
    transition: 0.2s;
}
.back-button:hover{
    transform: translateX(-10px);
}
.back-button a{
    color: white;
}
.back-button a:hover{
    text-decoration: none;
    color: #FFCCCB;
    text-decoration: none;
}
.game{
    margin: 0 2% 0 2%;
}
.leaderboard-area{
    color: white;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
}
.about-game{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
}


/* Game stuff */
#game-area {
    border: 1px solid black;
    color: white;
    width: 80%;
    margin: 0 10% 0 10%;
    height: 500px;
    margin: auto;
    position: relative;
    background-color: rgba(4, 4, 58, 0.5);
}
  
  
#start-button {
    padding: 1%;
    border: 1px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.score-time-display{
    font-size: 130%;
    border-radius: 10px;
    padding:1%;
    color: white;
    width: 35%;
    margin-left: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.score-time-color{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.color-change{
    color: white;
    width: 10%;
    height: 50%;
    text-align: center;
    border-radius: 5px;
    margin-left: 35%;
}
/* End game  */

/* Dropdown stuff */
.sub-menu-wrap{
    z-index: 4;
    position: absolute;
    top: 700px;
    right: 12%;
    width: 120px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
/* Increases the max-height which will allow the dropdown menu to show itself */
.sub-menu-wrap.open-menu{
    z-index: 4;
    max-height: 340px;
}
/* Giving the dropdown menu a backgroud color, padding and margin */
.sub-menu{
    background-color: rgba(4, 4, 58, 0.7);
    padding: 20px;
    margin: 10px;
}
/* Styling of links in the drop down menu */
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;
}
/* Giving width to the text in dropdown menu */
.sub-menu-link p{
    width: 100%;
}
/* Giving an animation of 5px difference when a mouse hovers over the text  */
.sub-menu-link:hover p{
    cursor: pointer;
    font-weight: 600;
}
.color-change{
    transform: translateY(0);
    transition: 0.3s;
}
.color-change:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#red{
    transition: 0.2s;
}
#green{
    transition: 0.2s;
}
#black{
    transition: 0.2s;
}
#yellow{
    transition: 0.2s;
}
#blue{
    transition: 0.2s;
}
#pink{
    transition: 0.2s;
}
#red:hover{
    color:red;
    transform: translateX(5px);
    transition: 0.2s;
}
#green:hover{
    color:green;
    transform: translateX(5px);
    transition: 0.2s;
}
#yellow:hover{
    color:yellow;
    transform: translateX(5px);
    transition: 0.2s;
}
#blue:hover{
    color:blue;
    transform: translateX(5px);
    transition: 0.2s;
}
#black:hover{
    color:black;
    transform: translateX(5px);
    transition: 0.2s;
}
#pink:hover{
    color:pink;
    transform: translateX(5px);
    transition: 0.2s;
}
/* End Dropdown */
