/* Game Stuff */
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
#score{
    margin-left:15% ;
}
#countdown {
    width: 22%;
    margin: 0 39% 0 39%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #888888;
}
#counter{
    text-align: center;
}
#game-area {
    width: 80%;
    margin: 0 10% 0 10%;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.1s;
    cursor: pointer;
}

#game-area:active {
    background-color: black;
    transform: scale(0.95);
    box-shadow: 0px 0px 20px gray;
}

#start-button {
    position: absolute;
    left: 46%;
    margin-top: 1%;
    width: 8%;
    color: black;
    background-color: white;
    padding: 1% 1% 1% 1%;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #ccc;
    cursor: pointer;
    text-align: center;
}

#start-button:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 20px black;
}

#score {
    margin-top: 20px;
    font-size: 20px;
    color: dodgerblue;
    text-shadow: 0px 0px 10px gray;
}
#end-game {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
  
.final-score {
    color: #333;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 20px;
}
  
#final-score-value {
    color: #333;
}
  
#play-again-button, #submit-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #ccc;
}
  
#play-again-button {
    background-color: #4caf50;
    color: white;
}

#submit-score{
    border:transparent;
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #ccc;
}
  
#submit-button {
    background-color: #f44336;
    color: white;
}
#submission-menu{
    z-index: 2;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
#subimssion-menu > input{
    width: 80%;
}
#close {
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    cursor: pointer;
    padding: 0 8px 8px 8px;
}
#close:hover{
    color: red;
}
#end-game:active{
    transform: scale(1);
    box-shadow: 0px 0px 20px gray;
}
#submission-menu:active{
    transform: scale(1);
    box-shadow: 0px 0px 20px gray;
}
/* End game stuff */
.a{
    border:3px solid green;
}
.footer {
    text-align: center;
    color: white;
}
.back-button{
    width: 22%;
    margin: 0 39%;
    color: white;
    text-decoration: none;
    font-size: 170%;
    text-align: center;
    transform: translateX(0);
    transition: 0.2s;
}
.back-button:hover{
    transform: translateX(-10px);
}
.back-button a{
    color: white;
}
.back-button a:hover{
    text-decoration: none;
    color: #FFCCCB;
    text-decoration: none;
}
.leaderboard-area{
    text-align: center;
    color: white;
    width: 80%;
    margin: 0 10% 0 10%;
}
.about-game{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
}
.about-game > p{
    font-size: 2vw;
}
#score-load{
    position: absolute;
    margin: 178px 35% 15% 35%;
}
.successful-submission{
    position: absolute;
    text-align: center;
    left: 25%;
    margin-bottom: 50%;
    color: #333;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
/* Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Prevent select */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Background animation */
/* Background animation */
.parent {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
}

thead {
    color: white;
}

tbody {
    color: white;
}