/* TARGET */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
}
  
/* END TARGET */
.a{
    border:3px solid green;
}
.footer {
    text-align: center;
    color: white;
}
.back-button{
    width: 21%;
    margin: 0 39.5% 0 39.5%;
    color: white;
    text-decoration: none;
    font-size: 170%;
    text-align: center;
    transform: translateX(0);
    transition: 0.2s;
}
.back-button:hover{
    transform: translateX(-10px);
}
.back-button a{
    color: white;
}
.back-button a:hover{
    text-decoration: none;
    color: #b4c5e4;
    text-decoration: none;
}
.leaderboard-area{
    color: white;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
}
.about-game{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
}
.about-game > p{
    font-size: 150%;
}
html{
    cursor: context-menu;
}
/* Game stuff */


#game-area {
    border: 1px solid black;
    color: white;
    width: 80%;
    margin: 0 10% 0 10%;
    height: 500px;
    margin: auto;
    position: relative;
    border-radius: 50px;
    background-color: rgba(4, 4, 58, 0.5);
}
  
#start-button {
    position: absolute;
    color: black;
    margin: 210px 0 0 43.5%;
    background-color: white;
    width: 13%;
    padding: 2% 1% 2% 1%;
    font-size: 100%;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #ccc;
    cursor: pointer;
    text-align: center;
}
#start-button:hover{
    background-color: #b4c5e4;
    box-shadow: 0px 0px 10px 0px #b4c5e4;
}
.score-time-display{
    font-size: 130%;
    border-radius: 10px;
    padding:1%;
    color: white;
    width: 35%;
    margin-left: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.score-time-color{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-change{
    margin-top: 3%;
    color: white;
    width: 10%;
    text-align: center;
}
.color-change > p{
    color: white;
    text-shadow: 0px 0px 10px wheat;
}
#time-checker{
    width: 22%;
    margin: 0 39% 0 39%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #888888;
}
#scoreboard{
    position: absolute;
    margin: 2% 0 0 15%;
    font-size: 20px;
    color: dodgerblue;
    text-shadow: 0px 0px 10px gray;
}
/* End game stuff */
/* End game display */
#end-game {
    position: absolute;
    text-align: center;
    left: 25%;
    bottom: 25%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
  
#final-score {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
  
#final-score-value {
    color: #333;
}
  
#play-again-button, #submit-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 120%;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #ccc;
}
  
#play-again-button {
    background-color: #4caf50;
    color: white;
}

#submit-score{
    border:transparent;
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #ccc;
}
  
#submit-button {
    background-color: #f44336;
    color: white;
}
#submission-menu{
    z-index: 2;
    position: absolute;
    left: 25%;
    bottom: 20%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
#submission-menu > input{
    width: 80%;
}
#close {
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    cursor: pointer;
    padding: 0 8px 8px 8px;
}
#close:hover{
    color: red;
}
#score-load{
    position: absolute;
    margin: 178px 35% 0 35%;
}
.successful-submission{
    position: absolute;
    text-align: center;
    left: 25%;
    bottom: 37%;
    color: #333;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
#final-scores {
    color: #333;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* End game display end */
/* Dropdown stuff */
.sub-menu-wrap{
    position: absolute;
    z-index: 2;
    width: 120px;
    margin: -20px 0 0 43%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
/* Increases the max-height which will allow the dropdown menu to show itself */
.sub-menu-wrap.open-menu{
    z-index: 4;
    max-height: 340px;
}
/* Giving the dropdown menu a backgroud color, padding and margin */
.sub-menu{
    background-color: rgba(4, 4, 58, 0.7);
    padding: 20px;
    margin: 10px;
}
/* Styling of links in the drop down menu */
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;
}
/* Giving width to the text in dropdown menu */
.sub-menu-link p{
    width: 100%;
}
/* Giving an animation of 5px difference when a mouse hovers over the text  */
.sub-menu-link:hover p{
    cursor: pointer;
    font-weight: 600;
}
.color-change{
    transform: translateY(0);
    transition: 0.3s;
}
.color-change:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#red{
    transition: 0.2s;
}
#green{
    transition: 0.2s;
}
#black{
    transition: 0.2s;
}
#yellow{
    transition: 0.2s;
}
#blue{
    transition: 0.2s;
}
#pink{
    transition: 0.2s;
}
#red:hover{
    color:red;
    transform: translateX(5px);
    transition: 0.2s;
}
#green:hover{
    color:green;
    transform: translateX(5px);
    transition: 0.2s;
}
#yellow:hover{
    color:yellow;
    transform: translateX(5px);
    transition: 0.2s;
}
#blue:hover{
    color:blue;
    transform: translateX(5px);
    transition: 0.2s;
}
#black:hover{
    color:black;
    transform: translateX(5px);
    transition: 0.2s;
}
#pink:hover{
    color:pink;
    transform: translateX(5px);
    transition: 0.2s;
}

tbody {
    color: white;
}
/* End Dropdown */

/* Zoom animation */
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.animate1 {
    -webkit-animation: animatezoom1 0.2 s;
    animation: animatezoom1 0.2s;
}
  
@-webkit-keyframes animatezoom1 {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom1 {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* End zoom animation */
/* background animation */
/* Background animation */
.parent {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
}

thead {
    color: white;
}

tbody {
    color: white;
}


/* MEDIA QUERY */
/* MEDIA QUERY */
@media screen and (max-width: 1181px) {
    .back-button{
        width: 25%;
        margin: 0 37.5% 0 37.5%;
    }
}
@media screen and (max-width: 992px) {
    .back-button{
        width: 30%;
        margin: 0 35% 0 35%;
    }
}
@media screen and (max-width: 827px) {
    .back-button{
        width: 35%;
        margin: 0 32.5% 0 32.5%;
    }
}
@media screen and (max-width: 709px) {
    .back-button{
        width: 100%;
        margin: 0;
    }
    .leaderboard-area{
        width: 100%;
        margin: 0;
      }
}
@media screen and (max-width: 636px) {
    #time-checker{
        width: 40%;
        margin: 0 0 0 50%;
        font-size: 20px;
    }
}
@media screen and (max-width:305px) {
    #time-checker{
        width: 40%;
        margin: 0 0 0 50%;
        font-size: 15px;
    }
}
@media screen and (max-width: 576px) {
    .game{
        width: 100%;
    }
    #game-area{
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 1174px) {
    .color-change{
        width: 15%;
    }
}
@media screen and (max-width: 786px) {
    .color-change{
        width: 20%;
    }
}
@media screen and (max-width: 592px) {
    .color-change{
        width: 100%;
    }
    .about-game > p{
        font-size: 100%;
    }
}
@media screen and (max-width: 414px) {
    #start-button {
        margin: 210px 0 0 35%;
        width: 30%;
    }
}
@media screen and (max-width: 782px) {
    #final-score {
        font-size: 15px;
    }
    #close {
        font-size: 15px;
    }
    #submission-menu > p{
        font-size: 15px;    
    }
    #submit-score{
        font-size: 10px;
    }
}
@media screen and (max-width: 289px) {
    #final-score {
        font-size: 10px;
    }
    #close {
        font-size: 10px;
    }
    #submission-menu > p{
        font-size: 10px;    
    }
}
@media screen and (max-width: 370px) {
    #final-scores{
        font-size: 20px;
    }
    #play-again-button{
        font-size: 15px;
    }
    #submit-button{
        font-size: 15px;
    }
}