/* Game Stuff */
#gameArea {
    width: 80%;
    height: 300px;
    margin: 0 10% 0 10%;
    border-radius: 20px;
    background-color: red;
    text-align: center;
}
  
#message {
    color: red;
    font-weight: bold;
}
  
.hidden {
    display: none;
}
#result{
    margin-top: 10%;
    color: white;
}
#startBtn{
    width: 8%;
    position: absolute;
    left:45%;
    color: black;
    background-color: white;
    padding: 1% 1% 1% 1%;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #ccc;
    cursor: pointer;
    text-align: center;
}
/* End game stuff */

.a{
    border:3px solid green;
}
.footer {
    text-align: center;
    color: white;
}
.back-button{
    width: 18%;
    margin: 0 39% 0 39%;
    color: white;
    text-decoration: none;
    font-size: 170%;
    text-align: center;
    transform: translateX(0);
    transition: 0.2s;
}
.back-button:hover{
    transform: translateX(-10px);
}
.back-button a{
    color: white;
}
.back-button a:hover{
    text-decoration: none;
    color: #FFCCCB;
    text-decoration: none;
}
/* Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}