/* Review form */ 
.wrapper {
  position: absolute;
	background-color: white ;
	padding: 2rem;
	width: 50%;
  border-radius: 5px;
	text-align: center;
}
.review-store{
  display: flex;
  justify-content: center;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .fa-star {
	cursor: pointer;
}
.rating .fa-star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .fa-star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: lightcyan;
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: white;
	color: blue;
}
.btn-group .btn.submit:hover {
	background: green;
  color: white;
}
.btn-group .btn.cancel {
	background: white;
	color: blue;
}
.btn-group .btn.cancel:hover {
	background: red;
  color: white;
}
/* Name */
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
/* End name */
#close {
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  cursor: pointer;
  padding: 0 8px 8px 8px;
}
#close:hover{
  color: red;
}
/* Review form end */
.a{
  border:3px solid green;
}
.footer {
    text-align: center;
    color: white;
}
.back-button{
    width: 12%;
    margin: 0 44% 0 43%;
    color: white;
    text-decoration: none;
    font-size: 170%;
    text-align: center;
    transform: translateX(0);
    transition: 0.2s;
}
.back-button:hover{
    transform: translateX(-10px);
}
.back-button a{
    color: white;
}
.back-button a:hover{
    text-decoration: none;
    color: #b4c5e4;
    text-decoration: none;
}
#review-button {
  padding: 1.5% 1% 0 1%;
  color: white;
  border-radius: 50px;
  transform: translateY(0);
  transition: 0.3s;
}
#review-button:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 0px powderblue;
  color: whitesmoke;
}
.top{
  display: flex;
  justify-content: space-around;
}
.centring{
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaderboard-area{
  color: white;
  width: 90%;
  margin: 0 5% 0 5%;
  text-align: center;
}
.about-review{
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 10% 0 10%;
}

thead {
  color: white;
}

tbody {
  color: white;
}

tbody i {
  z-index: -2;
  color: yellow;
  font-size: 100%;
}
.rating-dropdown {
  padding: 1.5% 1% 0 1%;
  color: white;
  border-radius: 50px;
  transform: translateY(0);
  transition: 0.3s;
}
.rating-dropdown:hover{
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px yellow;
  transform: translateY(-5px);
}
html{
  cursor: context-menu;
}
#score-load{
  margin-left: 41%;
}
.successful-submission{
  position: absolute;
  text-align: center;
  left: 25%;
  bottom: 50%;
  color: #333;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 10px 0px #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}
/* Dropdown */
.sub-menu-wrap{
  z-index: 2;
  width: 150px;
  position: absolute;
  margin-top: -2%;
  right: 17.5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
/* Increases the max-height which will allow the dropdown menu to show itself */
.sub-menu-wrap.open-menu{
  z-index: 4;
  max-height: 300px;
}
/* Giving the dropdown menu a backgroud color, padding and margin */
.sub-menu{
  background-color: rgba(4, 4, 58, 0.7);
  padding: 20px;
  margin: 10px;
}
/* Styling of links in the drop down menu */
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 12px 0;
}
/* Giving width to the text in dropdown menu */
.sub-menu-link p{
  display: flex;
  justify-content: center;
  width: 100%;
}
/* Giving an animation of 5px difference when a mouse hovers over the text  */
.sub-menu-link:hover p{
  cursor: pointer;
  font-weight: 600;
  color: yellow;
}
/* end dropdown */
/* Animation */
.animation {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Background animation */
.parent {
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: none;
}


/* MEDIA QUERY */
@media screen and (max-width: 1185px) {
  .back-button{
      width: 20%;
      margin: 0 40% 0 40%;
  }
}
@media screen and (max-width: 711px) {
  .back-button{
      width: 30%;
      margin: 0 35% 0 35%;
  }
  .leaderboard-area{
    width: 100%;
    margin: 0;
  }
  .leaderboard-area > h2{
    font-size: 150%;
  }
}
@media screen and (max-width: 474px) {
  .back-button{
      width: 100%;
      margin: 0;
  }
  .top{
    justify-content: space-between;
  }
  #review-form{
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }
}
@media screen and (max-width: 777px) {
  tbody i{
    font-size: 80%;
  }
}