/* Socials animation*/
.social-icon {
    display: inline-block;
}
  
.social-icon img {
    text-decoration: none; 
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}
 /* Give a spinning 3d */
.social-icon img:hover {
    transform: rotateY(180deg);
    text-decoration: none;
}

/* end socials */
/* Give a repeated float effect as used in keyframe */
.main-header{
    animation: float 6s ease-in-out infinite;
    text-shadow: -4px -4px black;
    font-size: 110%;
    text-align: center;
    margin:2%;
}
.game-header{
    color: white;
    text-align: center;     
}
.a{
    border:solid 3px green;
}
.main-header{
    color:white;
}
/* Give the popup arrow opacity 1 when hovered */
.game:hover .popupArrow{
    visibility: visible;
    animation: flickering linear 0.5s infinite forwards;
}
/* js give a line */
.hr-bottom{
    padding:2%;
    border-bottom: 2px solid rgba(0,22,36,255);
}
.reasoning-text{
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;
    font-size: 150%;
}
.footer {
    text-align: center;
    color: white;
}
.reasoning-text > h2{
    font-size: 150%;
}
.reasoning-text > p{
    font-size: 100%;
}
.about-us-header{
    font-size: 150%;
}
.about-us{
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;
    font-size: 150%;
}
.about-us > p{
    font-size: 100%;
}
.game-header > h1{
    font-size: 200%;
}
.game-choice{
    display: flex;
    flex-direction: column;
}
.row-one{
    display: flex;
    flex-direction: row;
}
/* Css for all the list of games */
.game{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(14, 14, 71, 0.9);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 45%;
    margin: 2% 5% 2% 5%;
    transform: translateY(0);
    transition: 0.4s;
    position: relative;
}
/* Give a move top by 10px when hover */
.game:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(-10px);
}
/* For the bring down/up effect on hover */
.game::before{
    border-radius: 5px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #b4c5e4;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.game::before{
    transform: scaleY(0);
}
.game:hover::before{
    transform: scaleY(1);
}

.game-choice > div > a > h2{
    font-size: 120%;
    font-family: 'Press Start 2P', cursive;
}
.game-text{
    margin: 2% 2% 0 2%;
    display:flex;
    flex-direction: row;
    color:white;
    margin-bottom: 5%;
}
.first-text{
    text-align: center;
    font-size: 180%;
    margin-top: 10%;
    width: 15%;
}
.second-text{
    width: 74%;
}
.second-text img{
    width: 100%;
    border: 1px solid black;
}
.third-text{
    font-size: 180%;
    text-align: center;
    margin-top:10%;
    width:15%;
}
html{
    cursor: context-menu;
}
.game > img{
    margin:5% 0 5% 0;
}
.game > h2{
    margin-top: 2%;
}
/* Zoom animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Flicker animation */
.popupArrow {
    visibility: hidden;
}
@keyframes flickering {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

/* Floating effect */
@keyframes float { 
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* Background animation */
.parent {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
}


/* MEDIA QUERY */
@media screen and (max-width: 520px) { 
    .about-us-header{
        font-size: 100%;
    }
    .reasoning-text > h2{
        font-size: 90%;
    }
    .about-us > p{
        font-size: 70%;
    }
    .reasoning-text > p{
        font-size: 70%;
    }
    .row-one{
        flex-direction: column;
    }
    .game{
        width: 95%;
        margin: 5% 2.5% 5% 2.5%;
    }
    .game-text{
        flex-direction: column;
    }
    .first-text{
        margin: 0 5% 0 5%;
        width: 90%;
    }
    .first-text > p{
        font-size: 170%;
    }
    .second-text{
        width: 100%;
    }
    .third-text{
        margin: 2% 5% 0 5%;
        width: 90%;
    }
    .third-text > p{
        font-size: 170%;
    }
}
@media screen and (max-width: 1138px){
    .first-text{
        font-size: 150%;
    }
    .third-text{
        font-size: 150%;
    }
}
@media screen and (max-width: 900px){
    .first-text{
        font-size: 120%;
    }
    .third-text{
        font-size: 120%;
    }
}
@media screen and (max-width: 722px){
    .first-text{
        font-size: 90%;
    }
    .third-text{
        font-size: 90%;
    }
}