/* Grow animation */
#grow{
    font-size: 0%;
}
@keyframes grow {
    from {
      font-size: 0%;
    }
    to {
      font-size: 200%;
    }
}
#grow{
    font-size: 0;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#grow1{
    font-size: 0%;
}
@keyframes grow1 {
    from {
      font-size: 0%;
    }
    to {
      font-size: 100%;
    }
}
#grow1{
    font-size: 0;
    animation-name: grow1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#grow2{
    font-size: 0%;
}
@keyframes grow2 {
    from {
      font-size: 0%;
    }
    to {
      font-size: 180%;
    }
}
#grow2{
    font-size: 0;
    animation-name: grow2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#grow3{
    width: 0%;
}
@keyframes grow3 {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
}
#grow3{
    width: 0%;
    animation-name: grow3;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
/* End animation */
/* Socials animation*/
.social-icon {
    display: inline-block;
}
  
.social-icon img {
    text-decoration: none;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}
  
.social-icon img:hover {
    transform: rotateY(180deg);
    text-decoration: none;
}

/* end socials */
.main-header{
    text-align: center;
    margin:2%;
}
.game-text{
    margin: 2% 2% 0 2%;
    display:flex;
    flex-direction: row;
    color:white;
}
.first-text{
    text-align: center;
    margin-top: 10%;
    width: 15%;
}
.second-text{
    width: 74%;
}
.second-text img{
    width: 100%;
}
.third-text{
    text-align: center;
    margin-top:10%;
    width:15%;
}
.a{
    border:solid 3px green;
}
.main-header{
    color:white;
}
.about-us-header{
    font-size: 200%;
}
.about-us{
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;
    font-size: 150%;
}
.game-choice{
    display: flex;
    flex-direction: column;
}
.row-one{
    display: flex;
    flex-direction: row;
}
.game{
    color: white;
    text-decoration: none;
    text-align: center;
    width: 45%;
    margin: 2% 5% 2% 5%;
    transform: translateY(0);
    transition: 0.2s;
}
.game:hover{
    text-decoration: none;
    color: #FFCCCB;
    background-color: rgba(14, 14, 71, 0.6);
    cursor: pointer;
    transform: translateY(-10px);
}
.hr-bottom{
    padding:2%;
    border-bottom: 2px solid blue;
}
.reasoning-text{
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;
    font-size: 150%;
}
h6 {
    text-align: center;
    color: white;
}


