html{
    cursor: context-menu;
}
/* Socials animation*/
.social-icon {
    display: inline-block;
}
  
.social-icon img {
    text-decoration: none; 
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}
  
.social-icon img:hover {
    transform: rotateY(180deg);
    text-decoration: none;
}

/* end socials */
.main-header{
    animation: floating 6s ease-in-out infinite;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin:2%;
    text-shadow: -5px 0 black;
    font-size: 100%;
    color: white;
}
.main-header > h1{
    font-size: 170%;
}
.game-header{
    color: white;
    text-align: center;     
    font-family: 'Press Start 2P', cursive;
}
.a{
    border:solid 3px green;
}
.game:hover{
    text-decoration: none;
    color: #FFCCCB;
    background-color: rgba(22, 22, 76, 0.6);
    cursor: pointer;
    transform: translateY(-10px);
}
.game:hover #popupArrow{
    visibility: visible;
    animation: opener linear 0.5s infinite forwards;
}

.hr-bottom{
    padding:2%;
    border-bottom: 2px solid rgba(0,22,36,255);
}
.reasoning-text{
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;
}
.footer {
    text-align: center;
    color: white;
}
.reasoning-text > h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
}
.reasoning-text > p{
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
}
.about-us-header{
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
}
.about-us{
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;
}
.about-us > p{
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
}
.game-header > h1{
    font-size: 200%;
}
.game-choice{
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}
.row-one{
    display: flex;
    flex-direction: row;
}


.game{
    border: 1px solid black;
    background-color: rgba(14, 14, 71, 0.6);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 45%;
    margin: 2% 5% 2% 5%;
    transform: translateY(0);
    transition: 0.2s;
}
.game > img{
    margin-bottom: 5% ;
}
.game-choice > div > a > h2{
    margin-top: 2%;
    font-size: 130%;
}
.game-text{
    margin: 2% 2% 0 2%;
    display:flex;
    flex-direction: row;
    color:white;
    margin-bottom: 5%;
}
.first-text{
    z-index: 2;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 90%;
    margin-top: 15%;
    width: 15%;
}
.second-text{
    width: 74%;
}
.second-text img{
    width: 100%;
}
.third-text{
    z-index: 2;
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
    text-align: center;
    margin-top:15%;
    width:15%;
}
/* Zoom animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* For the > beside */
#popupArrow {
    visibility: hidden;
}
@keyframes opener {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
/* Hover effect for header */
@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}


/* Background animation */
.parent {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
}


/* MEDIA QUERY */
@media screen and (max-width: 520px) { 
    .about-us-header{
        font-size: 110%;
    }
    .reasoning-text > h2{
        font-size: 100%;
    }
    .about-us > p{
        font-size: 70%;
    }
    .reasoning-text > p{
        font-size: 70%;
    }
    .row-one{
        flex-direction: column;
    }
    .game{
        width: 95%;
        margin: 5% 2.5% 5% 2.5%;
    }
    .game-text{
        flex-direction: column;
    }
    .first-text{
        margin: 0 5% 0 5%;
        width: 90%;
    }
    .first-text > p{
        font-size: 170%;
    }
    .second-text{
        width: 100%;
    }
    .third-text{
        margin: 2% 5% 0 5%;
        width: 90%;
    }
    .third-text > p{
        font-size: 170%;
    }
}
@media screen and (max-width: 1138px){
    .first-text{
        font-size: 70%;
    }
    .third-text{
        font-size: 70%;
    }
}
@media screen and (max-width: 918px){
    .first-text{
        font-size: 60%;
    }
    .third-text{
        font-size: 60%;
    }
}
@media screen and (max-width: 722px){
    .first-text{
        font-size: 50%;
    }
    .third-text{
        font-size: 50%;
    }
    .main-header{
        font-size: 100%;
    }
    .main-header > h1{
        font-size: 130%;
    }
}
    